/* samples/Layout/MainLayout.razor.rz.scp.css */
.page[b-r8b0rg4qq9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-r8b0rg4qq9] {
    flex: 1;
}

.sidebar[b-r8b0rg4qq9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-r8b0rg4qq9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-r8b0rg4qq9]  a, .top-row[b-r8b0rg4qq9]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-r8b0rg4qq9]  a:hover, .top-row[b-r8b0rg4qq9]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-r8b0rg4qq9]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-r8b0rg4qq9] {
        justify-content: space-between;
    }

    .top-row[b-r8b0rg4qq9]  a, .top-row[b-r8b0rg4qq9]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-r8b0rg4qq9] {
        flex-direction: row;
    }

    .sidebar[b-r8b0rg4qq9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-r8b0rg4qq9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-r8b0rg4qq9]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-r8b0rg4qq9], article[b-r8b0rg4qq9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* samples/Pages/Home.razor.rz.scp.css */
.dropzone[b-nt1mav9fl2] {
    display: flex;
    width: 75%;
    margin: auto;
    height: 30vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: border-color 0.3s ease;
    background-color: rgba(130, 130, 130, 1);
}

.hover[b-nt1mav9fl2] {
    border-style: solid;
    background-color: rgba(0, 123, 255, 0.2);
}

[b-nt1mav9fl2] input[type=file] {
    width: 100%;
    height: 100%;
    padding: 20px;
}
